{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}

<!-- ========================= SECTION CONTENT START ========================= -->
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{product.image.url}}"></a>
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <form action="{% url 'add_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <article class="content-body">
                            <h2 class="title">{{product.product_name}}</h2>
                            <span class="text-muted h4 float-right">
                                <strike>₹{{product.price|show_discounted_price:product.discount|intcomma}}/-</strike>
                            </span>
                            <span class="price mt-1 text-primary float-right mx-3">-{{product.discount}}%Off</span>
                            <div class="mb-3">
                                <var class="price h2">₹{{product.price|intcomma}}/- <small>Only</small></var>
                            </div>
                            <p>{{product.description}}</p>
                            <hr>
                            <div class="row">
                                <div class="item-option-select w-25">
                                    <h6>Choose Color</h6>
                                    <select name="color" class="form-control form-control-sm" required>
                                        <option value="" disabled selected>Color Options</option>
                                        {% for item in product.variation_set.colors %}
                                        <option value="{{item.variation_value|lower}}">{{item.variation_value|capfirst}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select w-25">
                                    <h6>Select Size</h6>
                                    <select name="size" class="form-control form-control-sm">
                                        <option value="" disabled selected>Size Options</option>
                                        {% for item in product.variation_set.sizes %}
                                        <option value="{{item.variation_value|lower}}">{{item.variation_value|capfirst}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            {% if product.stock < 1 %}
                            <h3 class="text-danger mb-0 text-uppercase text-center my-auto">Item out of Stock</h3>
                            {% else %}
                                <button type="submit" class="btn  btn-primary">
                                    <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
                                </button>
                                {% if in_cart %}
                                <a href="{% url 'cart' %}" class="btn  btn-outline-primary">
                                    <span class="text">View Cart</span> <i class="fas fa-eye"></i>
                                </a>
                                {% endif %}
                            {% endif %}
                        </article>
                    </form>
                </main>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-9">
                <header class="section-heading">
                    <h3>Customer Reviews </h3>
                </header>
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">24.04.2020 </span>
                            <h6 class="mb-1">Mike John </h6>
                        </div>
                    </div>
                    <div class="mt-3">
                        <p>
                            Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END   ========================= -->

{% endblock %}
